.article-title{
    font-family: 'roboto, sans-serif'
}

.article-title h2{
    font-size: 48px;
    font-weight: bold;
    color: black;
    line-height: 1;
    padding-top: 60px;
    padding-bottom: 30px;
}